.homePage {
    position: relative;
}

.homePage__homePageSideBar {
    position: absolute;
    top: 160px;
    left: 10px;
}

.homePage__heroesTable {
    position: absolute;
    top: 160px;
    left: 300px;
}
